node_modules/
dist/
.next/
out/
*.tsbuildinfo
.git/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store
Thumbs.db
.vscode/
.idea/
/apps/api/prisma/migrations/
/apps/api/generated/
coverage/
.nyc_output/
.vercel
**/node_modules/
**/dist/
**/.next/
